.logInPaper{
    padding: 20px;
    height: 70vh;
    width: 300px;
    margin: 20px auto;
}

.logInAvatar{
    background-color: azure;
}

.logInButton{
    margin: 8px 0;
}

.loginNavBar{
    float: right;
}