@import "./utils/css/news.css";
@import "./utils/css/chart.css";
@import "./utils/css/flex.css";
@import "./utils/css/map.css";
@import "./utils/css/compare.css";
@import "./utils/css/logIn.css";

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.scrollBar {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollBar::-webkit-scrollbar {
  display: none;
}

.watchlist {
  width: 340px;
  height: 240px;
  margin: 10px 10px 0 0;
}

.watchlistCard {
  width: 220px;
  height: 200px;
  margin: 0 auto;
}

.textRight {
  text-align: right;
  padding: 0 0 0 10px;
}
